.Divider {
  height: 1px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.39);
}

.ProductItem {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.ProductImage {
  width: 66px;
}

.ProductContent {
  width: 100%;
}

.ProductContent h3,
.ProductContent p {
  font-size: 12px;
}

.ProductPrice {
  text-align: end;
}
